/* theme: #cb531c */
.full-view {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%
}

:host >>> .swiper-slide {
  height: 100%;
  width : 100%;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.portfolio-container > div {
  margin: 1em
}

.bg-theme {
  background-color: rgba(203,83,28, 0.7)
}

:host >>> .title .chanyons-logo-text {
  font-size: 6em
}

.description {
  color: white
}
